{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}
{% block main %}
    <div class="list-group" style="margin:auto; width:25%">
        <a href="/music" class="list-group-item list-group-item-action">
            &#127926;Music&#127926;
        </a>
        <a href="/film" class="list-group-item list-group-item-action">	&#127909;TV & Film&#127909;</a>
        <a href="/fashion" class="list-group-item list-group-item-action">&#128095;Fashion&#128095;</a>
        <a href="/books" class="list-group-item list-group-item-action">&#128218;Books&#128218;</a>
        <a href="/gaming" class="list-group-item list-group-item-action">&#127918;Gaming&#127918;</a>
        <a href="/sports" class="list-group-item list-group-item-action">&#9917;Sports&#9917;</a>
        <a href="/life" class="list-group-item list-group-item-action">&#9728;Life&#9728;</a>
        <a href="/tech" class="list-group-item list-group-item-action">Tech</a>
      </div>
{% endblock %}
