{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}
{% block main %}
    <nav class="nav flex-column" class="list-group">
        <a class="nav-link active" href="/music">Music</a>
        <a class="nav-link" href="/film">TV & Film</a>
        <a class="nav-link" href="/fashion">Fashion</a>
        <a class="nav-link" href="/books">Books</a>
        <a class="nav-link" href="/gaming">Gaming</a>
        <a class="nav-link" href="/sports">Sports</a>
        <a class="nav-link" href="/life">Life</a>
        <a class="nav-link" href="/tech">Tech</a>
    </nav>
{% endblock %}
