{% extends "layout.html" %}

{% block title %}
    Music
{% endblock %}

{% block main %}
    <nav class="navbar navbar-light bg-light">
        <a class="navbar-brand">Music</a>
        <form class="form-inline">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
        <button class="btn btn-outline-success" type="button">Create Thread</button>
    </nav>
{% endblock %}