{% extends "layout.html" %}

{% block title %}
    Profile
{% endblock %}

{% block main %}
    <div class="card" style="margin:auto; width:50%">
        <div class="card-body">
        <h2 class="card-title"><b>{{ user }}</b></h2>
        <br>
        <p class="card-text">{{ bio }}</p>
        {% if session["user_id"] == id %}
        <form id="submit_edit" action="/edit_bio_form" method="GET">
            <button id="edit" type="submit" class="btn btn-secondary">Edit Bio</button>
        </form>
        {% endif %}
        </div>
    </div>
    <div class="card mb-3" style="margin:auto; width:50%">
        <div class="card-header pl-0 pr-0">
            <div class="row no-gutters w-100 align-items-center">
                <div class="col ml-3" style="position:relative">Threads</div>
            </div>
        </div>
    {% for row in rows %}
        <div class="card-body py-3">
            <div class="row no-gutters align-items-center">
                <div class="col"> <a href="/viewthread?id={{ row["id"] }}" class="text-big" data-abc="true">{{ row["title"] }}</a>
                    <div class="text-muted small mt-1">Started {{ row["creation"] }} &nbsp;·&nbsp; <a href="/profile?id={{ row["user_id"] }}" class="text-muted" data-abc="true">{{ row["user"] }}</a></div>
                </div>
            </div>
        </div>
    {% endfor %}
    </div>
{% endblock %}