{% extends "layout.html" %}

{% block title %}
    Profile
{% endblock %}

{% block main %}
    <div class="card">
        <div class="card-body">
        <h4 class="card-title">Card title</h4>
        <p class="card-text">Some example text. Some example text.</p>
        <a href="#" class="card-link">Edit</a>
        </div>
    </div>

        {% for row in rows %}
        <div class="card-body py-3">
            <div class="row no-gutters align-items-center">
                <div  {% if user != row["user"] %}style="visibility: hidden"{% endif %} class="col-sm-auto">
                <form action="/delete_thread" method="post">
                    <input type="hidden" name="thread" value="{{ row["id"] }}">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Delete</button>
                </form>

                </div>
                <div class="col"> <a href="/viewthread?id={{ row["id"] }}" class="text-big" data-abc="true">{{ row["title"] }}</a>
                    <div class="text-muted small mt-1">Started {{ row["creation"] }} &nbsp;·&nbsp; <a href="javascript:void(0)" class="text-muted" data-abc="true">{{ row["user"] }}</a></div>
                </div>
                <div class="d-none d-md-block col-4">
                    <div class="row no-gutters align-items-center">
                        <div class="col-4" style="position:relative; top:25px; left:-15px">{{ row["replies"] }}</div>
                            <div class="media-body flex-truncate ml-2">
                                <div class="col-8" style="margin-left: 180px">{{ row["latest"] }}</div> <a href="javascript:void(0)" class="col-8" style="margin-left: 160px" data-abc="true">by Billy Donovan</a>
                            </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
{% endblock %}